{% extends 'MoFome/base.html' %}
{% block conteudo %}
    <style>
      body {
        background-color: #f2f6fc;
        color: #69707a;
      }
      .img-account-profile {
        height: 50px;
        width: 50px;
      }
      .rounded-circle {
        border-radius: 100% !important;
      }
      .card {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
      }
      .card .card-header {
        font-weight: 500;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        padding: 1rem 1.35rem;
        border-radius: 0.35rem 0.35rem 0 0;
      }
      .form-control,
      .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.65s ease-in-out;
      }
      .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
      }
      .login_btn {
        width: 100%;
        background: #33ccff !important;
        color: white !important;
      }
      .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .receita-card {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        
        
      }
      
      
    
    </style>
    <div class="container-xl px-4 mt-4">
      <nav class="nav nav-borders  ">
            <a class="nav-link active ms-0"  style="color: black; font-size: 20px;" href="{% url 'topicos' %}">Tópicos</a>
			      <a class="nav-link active ms-0"	 style="color: black; font-size: 20px;" href="{% url 'topicos-create' %}" >Criar Tópicos</a>
            <a class="nav-link active ms-0" style="color: black; font-size: 20px;" href="{% url 'meustopicos' %}">Seus Tópicos</a>
            
      </nav>

      <hr class="mt-0 mb-4">
     
      <div class="row justify-content-center">
        {% for topico in topicos %}
          <div class="col-xl-8 receita-card">
            <div class="card mb-4">
              <div class="card-header" style="text-transform: uppercase;">
                <a href="{% url 'topicos-detail' pk=topico.id %}" style="color: black;">{{ topico.title }}</a>             
                  <div class="dropdown" style="float: right;">
                    <a href="#" class="dropdown-toggle-link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 8px; text-decoration: none; border-bottom: none;">
                      <span style="font-size: 24px; color: black;">&#8942;</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'topicos-update' pk=topico.id %}">Editar Tópico</a>
                      <a class="dropdown-item" href="{% url 'topicos-delete' pk=topico.id %}">Deletar Tópico</a>
                    </div>
                  </div>  
                

              </div>
              <div class="card-body">
                <div>
                  <strong>Descrição:</strong>
                  <p class="form-control">{{ topico.discussão }}</p>
                </div>
                <div>
                 
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
