  {% extends 'MoFome/base.html' %}
  {% block conteudo %}
  <body>
    <div class="container-xl px-4 mt-4">
      <nav class="nav nav-borders">
          <a class="nav-link active ms-0" style="color: black; font-size: 20px;" href="{% url 'receitas' %}">Receitas</a>
          <a class="nav-link active ms-0" style="color: black; font-size: 20px;" href="{% url 'receitas-create' %}">Criar Receitas</a>
          <a class="nav-link active ms-0" style="color: black; font-size: 20px;" href="{% url 'minhasreceitas' %}">Suas Receitas</a>
          <a class="nav-link active ms-0"	 style="color: black; font-size: 20px;" href="{% url 'receitas-favoritas'  %}" >Receitas Favoritas</a>
      </nav>
      <hr class="mt-0 mb-4">
      <div class="row justify-content-center">
        <div class="col-xl-12" style="margin-bottom: 30px;">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header" style="color: black;">Adicionar Imagem</div>
                <div class="card-body text-center"> <!-- Adicionei a classe 'text-center' para centralizar o conteúdo -->
                    <form method="POST" action="{% url 'receitas-create' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <img class="img-fluid mx-auto" src="/media/MoFome.jpg" alt="" style="height: 250px; width: 250px; margin-bottom: 30px;">
                        </div>
                        <div>
                            <strong>Foto da receita:</strong>
                            <input style="width: 100%; margin-top: 10px;" type="file" name="receita_imagem" size="5000000" accept="image/jpeg,image/png">
                        </div>
                
                </div>
            </div>
        </div>
    </div>
          <div class="col-xl-12">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card mb-4">
                          <div class="card-header"style="color: black;" >Título da Receita</div>
                          <div class="card-body">
                              <textarea class="form-control" minlength="5" maxlength="200" name="titulo"
                                  type="text" style="font-size: 15px;" id="validateInput" required></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="card mb-4">
                          <div class="card-header" style="color: black;">Descrição</div>
                          <div class="card-body">
                              <textarea class="form-control" minlength="5" maxlength="400" rows="5"
                                  name="descricao" type="text"
                                  style="font-size: 15px; margin-bottom: 10px;" id="validateInput"
                                  required></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="card mb-4">
                          <div class="card-header" style="color: black;">Ingredientes</div>
                          <div class="card-body">
                              <textarea class="form-control" type="text" placeholder="Adicione um ingrediente por linha (importante)!" minlength="5" maxlength="5000" rows="10" name="ingredientes" style="font-size: 15px; line-height: 1.35; text-align: justify; hyphens: auto; margin-bottom: 10px;"></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="card mb-4">
                          <div class="card-header" style="color: black;">Modo de Preparo</div>
                          <div class="card-body">
                              <div id="preparation-steps">
                              
                                <div class="dynamic-row preparation-row" style="margin-right: 22px;"> 
                                  <strong>Instruções:</strong>
                                  <textarea id="validateInput" type="text" placeholder="Adicione uma instrução por linha (importante)!"  required class="form-control step" rows="10" type="text" name="modo_de_preparo" maxlength="5000" minlength="4" style="font-size: 15px; line-height: 1.35; text-align: justify; hyphens: auto; margin-bottom: 10px; padding-right: 20px;"></textarea>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12" style="margin-bottom: 100px;">
                    <div class="card mb-4">
                        <div class="card-header" style="color: black;">Detalhes da receita</div>
                        <div class="card-body">
                          <div style="display: flex; align-items: center; font-family: Arial, sans-serif;">
                            <strong>Serve:</strong>
                            <input  class="input-with-line" name="pessoas" id="pessoas" type="number" style="font-size: 16px; margin-right: 5px; width: 5.5%; margin-left: 6.5px;" id="validateInput" required> pessoa(s)                   
                        </div>
                          <div style="display: flex; align-items: center; font-family: Arial, sans-serif;">
                            <strong>Tempo de preparo:</strong>
                            <input class="input-with-line" type="number" id="horas" name="horas" style="font-size: 16px; margin-right: 5px; width: 5%; margin-left: 6.5px; " id="validateInput" required>hora(s)
                            <input  class="input-with-line" type="number" id="minutos" name="minutos" style="font-size: 16px; margin-left: 5px; width: 5%; margin-left: 6.5px;" id="validateInput" required>minuto(s)
                            <strong style="font-size: 10px; text-align: end; margin-left: 10px;">Digite um número entre 0 e 24 para as HORAS e um número entre 0 e 59 para MINUTOS.</strong>
                          </div>
                          <div style="display: flex; align-items: center; font-family: Arial, sans-serif;">
                            <strong>Custo da receita:</strong>
                            <input  class="input-with-line" name="custo" type="number" style="font-size: 16px; margin-right: 5px; width: 5.5%; margin-left: 6.5px;" id="validateInput" required>
                            <strong style="font-size: 10px; text-align: end; margin-left: 10px;">Digite 1 (Custo baixo), 2 (Custo médio) ou 3 (Custo alto).</strong>
                          </div>
                          <div style="display: flex; align-items: center; font-family: Arial, sans-serif;">
                            <strong>Dificuldade da receita:</strong>
                            <input  class="input-with-line" name="dificuldade" type="number" style="font-size: 16px; margin-right: 5px; width: 5.5%; margin-left: 6.5px;" id="validateInput" required>
                            <strong style="font-size: 10px; text-align: end; margin-left: 10px;">Digite 1 (Fácil), 2 (Médio) ou 3 (Difícil).</strong>
                          </div>
                          <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Postar Receita">
                          </div>
                          
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const validHours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];
      const validMinutos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59];
      const validCosts = [1, 2, 3];
      const validDifficulties = [1, 2, 3];
      const validPessoas = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];

      const horasInput = document.getElementById("horas");
      const minutosInput = document.getElementById("minutos");
      const pessoasInput = document.getElementById("pessoas");
      const custoInput = document.querySelector("[name='custo']");
      const dificuldadeInput = document.querySelector("[name='dificuldade']");
   

      restrictInputToRange(horasInput, validHours);
      restrictInputToRange(minutosInput, validMinutos);
      restrictInputToRange(custoInput, validCosts);
      restrictInputToRange(dificuldadeInput, validDifficulties);
      restrictInputToRange(pessoasInput, validPessoas);


      function restrictInputToRange(inputField, validValues) {
     inputField.addEventListener("input", function(event) {
        const inputValue = parseInt(event.target.value);
        
        if (!isNaN(inputValue) && validValues.includes(inputValue)) {
            event.target.value = inputValue;
        } else {
            event.target.value = "";
        }
    });
}
  </script>





    


      
      
      <style>
          body {
            background-color: #f2f6fc;
            color: #69707a;
          }
          .img-account-profile {
            height: 50px;
            width: 50px;
          }
          .rounded-circle {
            border-radius: 100% !important;
          }
          .card {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
          }
          .card .card-header {
            font-weight: 500;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
            padding: 1rem 1.35rem;
            border-radius: 0.35rem 0.35rem 0 0;
          }
          .form-control,
          .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }
          .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
          }
          .login_btn {
            width: 100%;
            background: #9f9e9e !important;
            color: white !important;
          }
          .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
          }
          .receita-card {
            margin-top: 20px;
            padding: 10px;
          }
          .input-with-line {
            border: none;
            border-bottom: 1px solid #ccc; 
            outline: none;
            padding: 5px 0; 
            padding-bottom: 1px;
            box-sizing: border-box;
            word-wrap: break-word; 
            width: 100%;
        overflow: hidden;
            resize: none;
          }
          .rating {
              display: inline-block;
              font-size: 24px;
              margin-top: 10px;
            }
            .comment-container {
            position: relative; 
            }
            .comment-user {
                margin-right: 10px;
            }
            .comment-content {
                display: flex;
                flex-direction: column;
            }
            .comment-options {
                position: absolute; 
                top: 0; 
                right: 0; 
            }
            .remove-icon {
                  margin-left: 10px;
                  cursor: pointer;
              }
       
        </style>
      

  {% endblock %}



