{% extends 'MoFome/base.html' %}
{% block conteudo %}
    <style>
      body {
        background-color: #f2f6fc;
        color: #69707a;
      }
      .img-account-profile {
        height: 50px;
        width: 50px;
      }
      .rounded-circle {
        border-radius: 100% !important;
      }
      .card {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
      }
      .card .card-header {
        font-weight: 500;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        padding: 1rem 1.35rem;
        border-radius: 0.35rem 0.35rem 0 0;
      }
      .form-control,
      .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
      }
      .login_btn {
        width: 100%;
        background: #9f9e9e !important;
        color: white !important;
      }
      .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .receita-card {
        margin-top: 20px;
        padding: 10px;
      }
      .input-with-line {
        border: none;
        border-bottom: 1px solid #ccc; 
        outline: none;
        padding: 5px 0; 
        padding-bottom: 1px;
        box-sizing: border-box;
        word-wrap: break-word; 
        width: 100%;
      }
      .rating {
          display: inline-block;
          font-size: 24px;
          margin-top: 10px;
        }

      .star {
          font-size: 24px;
          cursor: pointer;
          color: #ccc;
        }

      .star.hovered,
      .star.selected {
          color: yellow;
        }
        .comment-container {
        position: relative; 
        }
        .comment-user {
            margin-right: 10px;
        }
        .comment-content {
            display: flex;
            flex-direction: column;
        }
        .comment-options {
            position: absolute; 
            top: 0; 
            right: 0; 
        }
    </style>
    <div class="container-xl px-4 mt-4">
        <nav class="nav nav-borders">
          <a class="nav-link active ms-0"  style="color: black; font-size: 20px;" href="{% url 'topicos' %}">Tópicos</a>
          <a class="nav-link active ms-0"	 style="color: black; font-size: 20px;" href="{% url 'topicos-create' %}" >Criar Tópicos</a>
          <a class="nav-link active ms-0" style="color: black; font-size: 20px;" href="{% url 'meustopicos' %}">Seus Tópicos</a>
        </nav>
      <hr class="mt-0 mb-4">
      
    <div class="row justify-content-center" style="padding: 40px; margin-left: 140px;">
      <div class="col-xl-4">
        <div class="card mb-4 mb-xl-0">
          <div class="card-header">Autor do Tópico</div>
          <div class="card-body text-center">
            <img class="rounded-circle img-account-profile" src="{{ topico.autor.profile.image.url }}" alt="">
            <div style="margin-top: 10px;">
                  <a style="font-size: 15px; color: black;" href="{% url 'perfil-outro' username=object.autor %}">{{ object.autor }}</a>
              </div>
            <h2 style="font-size: 10px; margin-top: 10px;">Postado em: {{object.data_post_brasil}}</h2>
          

          
          </div>
 
          </div>
        </div>

        <div class="col-xl-8">  
          
          <div class="col-xl-12">
           <div class="card mb-4">

              <div class="card-header " style="text-transform: uppercase">{{object.title}} </div>
            
              
              <div class="card-body">
                <div>
                  <strong>Descrição:</strong>
                  <h2 class="form-control">{{ object.discussão }}</h2>
                </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <hr style="margin-top: 0; margin-bottom: 20px;">
  </div>
  
  <div class="col-xl-12">

    <div class="card mb-4">
      <div class="card-header" style="text-transform: uppercase">Adicionar Comentário</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img class="rounded-circle img-account-profile" src="{{ user.profile.image.url }}" alt="" >
          </div>
          <form action="{% url 'topico-comentario' object.id %}" method="post">
            {% csrf_token %}
          <div class="col-md-10">
            <div class="col-xl-12">
              <input class="input-with-line" name="comentario"  type="text" minlength="1" placeholder="Adicione um comentário..." style="margin-top: 20px;">
              <button type="submit" class="btn btn-primary mt-2">Enviar Comentário</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header" style="text-transform: uppercase">Comentários</div>
        {% if comentarios_topicos %}
            {% for comentario in comentarios_topicos %}
            <div class="card-body">
           
                <div class="comment-container">
                    <div class="comment-user">
                        <img class="rounded-circle img-account-profile" src="{{ comentario.autor.profile.image.url }}"  style="margin-bottom: 10px;">
                        <h2 style="font-size: 15px; margin-top: 0;">{{comentario.autor.username}}</h2>
                        <h2 style="font-size: 10px;">Postado em: {{comentario.data_comentario_brasil}}</h2>
                    </div>
                    
                        <div class="comment-text">
                            <p class="input-with-line">{{ comentario.comentario }}</p>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            {% else %}
                <strong style="margin: 15px;">Sem comentários.</strong>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
